
<style>

  #age{
 display: block;
 margin: 10px;
 margin-top: 35px;
 padding: 10px;
 padding-bottom: 20px;
 overflow: hidden;
 font-family: verdana;
 font-size: 23px;
 font-weight: normal;
 line-height: 1.5;
 word-spacing: 2.7px;
 color: navy;
}
 
</style>
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white sidenav-font" id="sidenav-main" style="z-index: 99999;">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/" >
        <img src="/static/assets/img/brand/arsp.png" class="navbar-brand-img" alt="ARSRL" style="width: 120px; height: 100px; object-fit: contain;">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-album-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Google</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'batch_create_view' %}">
              <i class="ni ni-folder-17 text-primary"></i>
              <span class="nav-link-text">New Batch</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'show_data' %}">
              <i class="ni ni-bullet-list-67 text-primary"></i>
              <span class="nav-link-text">View Records</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_wgs_overview' %}">
              <i class="ni ni-atom text-primary"></i>
              <span class="nav-link-text">WGS Data</span>
            </a>
          </li>
         
             
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Utilities</span>
        </h6>
        <!-- Navigation -->
         
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" 
               target="_blank" 
               href="#" data-toggle="modal" data-target="#ageModal">
              <i class="ni ni-calendar-grid-58 text-success"></i>
              <span class="nav-link-text ">Age verifier</span>
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'field_mapper_tool' %}">
              <i class="ni ni-compass-04 text-success"></i>
              <span class="nav-link-text">Field Mapping Tool</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" 
               href="{% url 'upload_wgs_view' %}">
              <i class="ni ni-cloud-upload-96 text-warning"></i>
              <span class="nav-link-text ">Upload Data</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               href="{% url 'download_combined_table' %}">
              <i class="ni ni-cloud-download-95 text-warning"></i>
              <span class="nav-link-text ">Download Table</span>
            </a>
          </ul>
          </li>
            <div>
            <hr class="my-3" />
          <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Settings</span>
        </h6>
           </div>

            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings_page' %}">
                        <i class="fa fa-cogs text-info"></i>
                        <span class="nav-link-text">System Settings</span>
                    </a>
                </li>
                                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_breakpoints' %}">
                        <i class="fa fa-cogs text-info"></i>
                        <span class="nav-link-text">Breakpoints</span>
                    </a>
                      <a class="nav-link" href="{% url 'add_antibiotics' %}">
                        <i class="fa fa-cogs text-info"></i>
                        <span class="nav-link-text">Antibiotics</span>
                    </a>
                </li>
            </ul>

      </div>
    </div>
  </div>


            <!-- Modal -->
           <div class="modal fade" id="ageModal" tabindex="-1" role="dialog" aria-labelledby="ageModalLabel" aria-hidden="true" style="z-index: 9999;">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ageModalLabel">Age Verifier</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <hr class="my-4" />
                  <div class="container">
                    <div class="col-lg-12">
                      <div class="row">
                          <div class="col-lg-4">
                              <label class='form-control-label'>Birth Date:</label>
                          </div>
                          <div class="col-lg-8">
                              <div class="row">
                                  <div class="col-lg-4">
                                      <label class="form-control-label">Month</label>
                                      <input style="font-size: small;"    class="form-control" type="number" name="month" id="month" placeholder="mm" required="required" minlength="1" maxlength="2" min="1" max="12"/>
                                  </div>
                                  <div class="col-lg-4">
                                      <label class="form-control-label">Day</label>
                                      <input style="font-size: small;"  class="form-control" type="number" name="date" id="date" placeholder="dd" required="required" minlength="1" maxlength="2"  min="0" max="31"/>                      
                                  </div>
                                  <div class="col-lg-4">
                                      <label class="form-control-label">Year</label>
                                      <input  style="font-size: small;"  class="form-control" type="number" name="year" id="year" placeholder="yyyy" required="required" minlength="4" maxlength="4" min="0000" max="9999"/>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                      <br>
                      <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-4">
                            <label class='form-control-label'>Specimen Date:</label>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="form-control-label">Month</label>
                                    <input style="font-size: small;" class="form-control" type="number" name="month" id="month2" placeholder="mm" required="required" minlength="1" maxlength="2" min="1" max="12"/>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-control-label">Day</label>
                                    <input style="font-size: small;" class="form-control" type="number" name="date" id="date2" placeholder="dd" required="required" minlength="1" maxlength="2"  min="0" max="31"/>                      
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-control-label">Year</label>
                                    <input style="font-size: small;" class="form-control" type="number" name="year" id="year2" placeholder="yyyy" required="required" minlength="4" maxlength="4" min="0000" max="9999"/>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="align-self: center;" id="age"></div> 
                  
                  <hr class="my-4" />
              </div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-primary" name="submit" value="Submit" onclick="age()" />
                  <button type="button" class="btn btn-success" onclick="refresh()">Refresh</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 
                </div>
              </div>
            </div>
          </div>
          <!-- end of modal -->
  <script>
    // FOR AGE VERIFIER BUTTON
    function age() {
    var d1 = parseInt(document.getElementById('date').value);
    var m1 = parseInt(document.getElementById('month').value);
    var y1 = parseInt(document.getElementById('year').value);
  
    var d2 = parseInt(document.getElementById('date2').value);
    var m2 = parseInt(document.getElementById('month2').value);
    var y2 = parseInt(document.getElementById('year2').value);
  
    var month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
  
    if (d1 > d2) {
      d2 = d2 + month[m2 - 1];
      m2 = m2 - 1;
    }
    if (m1 > m2) {
      m2 = m2 + 12;
      y2 = y2 - 1;
    }
  
    var d = d2 - d1;
    var m = m2 - m1;
    var y = y2 - y1;
  
    
    // Adjust age for negative values
    if (d < 0) {
      m = m - 1;
      d = d + month[m2 - 1];
    }
    if (m < 0) {
      y = y - 1;
      m = m + 12;
    }
    
    // Adjust age for zero months
    if (m === 0 && d < 0) {
      y = y - 1;
      m = 11;
      d = d + month[m2 - 1];
    }
  //adjust years if 0
    if (y <= 0) {
      y = 0;
      m = 0;
      d = 0;
    }
  
    document.getElementById('age').innerHTML = 'Age is ' + y + ' Years ' + m + ' Months ' + d + ' Days';
  }
  </script>
  
  <script>
    function refresh() {
      document.getElementById('month').value = '';
      document.getElementById('date').value = '';
      document.getElementById('year').value = '';
      document.getElementById('age').innerHTML = '';
      document.getElementById('month2').value = '';
      document.getElementById('date2').value = '';
      document.getElementById('year2').value = '';
      document.getElementById('age2').innerHTML = '';
  }
  </script>
</nav>

