<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">

  <!-- Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

  <!-- Animation / Custom CSS -->
  <link rel="stylesheet" href="/static/assets/css/arsp.css" type="text/css">

  <link rel="stylesheet" href="/static/assets/css/header.css" type="text/css">

  <title>{% block title %}REFERRED DATABASE{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="/static/assets/img/brand/virus.png" type="image/png">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">

  <!-- Argon -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">

  {% block stylesheets %}
  {% endblock stylesheets %}

  <script src="https://unpkg.com/htmx.org@1.9.2"></script>

</head>

<body>

  <!-- SIDE NAV -->
  {% include "includes/sidenav.html" %}

  <!-- MAIN CONTENT PANEL -->
  <div class="main-content" id="panel">

      {% include "includes/navigation.html" %}

      {% block content %}{% endblock content %}

  </div>

  <!-- Scripts -->
  {% include "includes/scripts.html" %}

  {% block javascripts %}
      <script src="/static/assets/js/argon.js?v=1.2.0"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  {% endblock javascripts %}

</body>

</html>
