{% extends 'layouts/base.html' %}

{% load widget_tweaks %}
{% load custom_filters %}


{% block title %} Demographic Data {% endblock title %}

{% block content %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<!-- style for back to top button -->
<style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  height: 50px;
  
}

#myform{
  font-size: small;
}

label.form-control-label{
  font-size: small;
}

.fontsize{
  font-size: large;
  color: blue;
  font-weight: bold;
}

.fontlarge{
  font-size: large;
}
</style>
{% endblock stylesheets %}



<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 200px; background-size: auto; background-image: url(/static/assets/img/theme/microbial.jpg); background-size: cover; background-position: center bottom;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-6"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex flex-column align-items-right">
    <div class="row">
      <div class="col-lg-10 col-md-4">
        <!-- <h6 class="display-2 text-white align=text-right"> 
          Hello {{ request.user.username }}
        </h6>
        <p class="text-white mt-0 mb-5"></p> --> 
        <!-- <a href="#" class="btn btn-neutral">Filter</a> -->
        <!-- <div class="row">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" style="background: rgba(0, 0, 0, 0); color: white; border: none;">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div> -->
        
        <br><br>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
 
<!-- DEMOGRAPHIC DATA -->

    <div class="col-xl-12 order-xl-1">
      <form method="POST" 
      action="{% if isolates %}{% url 'raw_data' isolates.id %}{% endif %}" 
      autocomplete="on" id="myform">

        {% csrf_token %}

      <div class="card" >
        <div class="card-header" id="mytop">
          <div class="row align-items-center">
            <!-- <div class="col-8">
               <h3 class="mb-0">SURVEILLANCE SITE INFORMATION </h3> 
            </div> -->
            <div class="col-12">
              <br>
              <div class="row">
                <div class="col-lg-2">
                  <div class="form-group" >
                      <label class="form-control-label" for="SiteCode">SITE CODE</label>
                      <div class="d-flex align-items-center">
                      {{ form.SiteCode| append_attr:"class: form-control "}} 
                      <span><a href="{% url 'add_dropdown' %}" class="col-4 shortcut-item" style="padding: 0;">
                      <span class="ni ni-settings" style="margin-left: 10px; line-height: 0; vertical-align: text-bottom;"></span>
                      </a></span>
                      </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group" >
                  <label class="form-control-label" for=" Referral_Date">Referral Date</label>
                  {{form.Referral_Date| append_attr:"class: form-control " }}
                  </div>
                </div>
               <div class="col-lg-2">
                  <div class="form-group" >
                  <label class="form-control-label" for="BatchNo">Batch No</label>
                  {{form.BatchNo| append_attr:"class: form-control " }}
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group" >
                  <label class="form-control-label" for="RefNo">Reference No</label>
                  {{form.RefNo| append_attr:"class: form-control " }}
                  </div>
                </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-success" onclick="history.back()">Back </button>
                <a href="{% url 'batch_create_view' %}" class="btn btn-sm btn-primary">New Batch</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <a href="{% url 'show_data' %}" class="btn btn-sm btn-primary">View / Print</a>  
                <a href="{% url 'add_breakpoints' %}" class="btn btn-warning btn-sm">Breakpoints</a>
                
              </div>
              </div>
             
           
<br>
                   
            <div class="row">
                  <div class="col-lg-4">
                  <div class="form-group">
                    <label class='form-control-label' for='Site_Name'>Site Name</label>
                    {{form.Site_Name| append_attr:"class: form-control fontsize"}}
                  </div>
                  </div>
                <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="AccessionNo">Accession Number</label>
                  {{form.AccessionNo| append_attr:"class: form-control fontsize"}} 
              </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="Batch_Name">Batch Name</label>
                  {{form.Batch_Code| append_attr:"class: form-control fontsize"}} 
              </div>
              </div>
            </div>
       
        </div>
    
      </div> <!--mother tab content-->
     <ul class="nav nav-tabs card-header-tabs" role="tablist"> 
        <li class="nav-item">
          <button class="nav-link active" href="#tabcontent1"  id="tab1" data-toggle="tab" role="tab">SENTINEL SITE DATA</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" href="#tabcontent2" id="tab2"  data-toggle="tab" role="tab" >ARSRL STY RESULTS</button>
        </li>
    </ul>
        <div class="card-body">
 
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabcontent1" role="tabpanel" aria-labelledby="tab1">
           <br>
           
           <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">PATIENT INFORMATION</h6>
           <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">

              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="Patient_ID">Patient No</label>
                    {{form.Patient_ID| append_attr:"class: form-control"}}
                 
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="First_Name">First Name</label>
                    {{form.First_Name|append_attr:"class: form-control"}}
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="Mid_Name">Middle Name</label>
                    {{form.Mid_Name| append_attr:"class: form-control"}}
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class='form-control-label' for='Last_Name'>Last Name</label> 
                   {{form.Last_Name|append_attr:"class: form-control"}}
                  </div>
                </div>
              </div>
          <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <label class='form-control-label' for='Date_Birth'>Date of Birth</label>
                  {{form.Date_Birth| append_attr:"class: form-control"}}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Age'>Age</label> {{form.Age| append_attr:"class: form-control"}}
                </div>
              </div>
                <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Sex'>Sex</label> {{form.Sex| append_attr:"class: form-control"}}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label class='form-control-label' for='Date_Admis'>Date of Admission</label> {{form.Date_Admis| append_attr:"class: form-control"}}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Nosocomial'>Nosocomial</label> {{form.Nosocomial | append_attr:"class: form-control" }}
                </div>
              </div>
        </div>

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Diagnosis'>Diagnosis</label> {{form.Diagnosis| append_attr:"class: form-control" }}
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Diagnosis_ICD10'>ICD-10</label> {{form.Diagnosis_ICD10| append_attr:"class: form-control" }}
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Ward'>Ward</label> {{form.Ward| append_attr:"class: form-control" }}
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class='form-control-label' for='Service_Type'>Service Type</label> {{form.Service_Type| append_attr:"class: form-control" }}
              </div>
            </div>
           
          </div>

          <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ISOLATE INFORMATION</h6>
           <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Spec_Num'>Specimen No</label> {{form.Spec_Num | append_attr:"class: form-control" }}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Spec_Date'>Specimen Date</label> {{form.Spec_Date|append_attr:"class: form-control" }}
                </div>
              </div>
                  <div class="col-lg-2">
                              <div class="form-group">
                                <label class="form-control-label" for="Spec_Type">Specimen Type <span><a href="{% url 'add_specimen' %}" class="col-4 shortcut-item" style="padding: 0;">
                                  <span class="ni ni-settings" style="margin-left: 10px; line-height: 0; vertical-align: middle;"></span>
                                  </a></span></label> {{form.Spec_Type| append_attr:"class: form-control"}}
                                <div class="d-flex align-items-left">
                                </div>
                              </div>
                            </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Reason'>Reason for referral</label> {{form.Reason| append_attr:"class: form-control" }}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Growth'>Growth</label> {{form.Growth| append_attr:"class: form-control" }}
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class='form-control-label' for='Urine_ColCt'>Urine Col ct</label> {{form.Urine_ColCt| append_attr:"class: form-control" }}
                </div>
              </div>

            </div>

            
          
  

<!-- PHENOTYPIC RESULTS -->
          
            <!-- Address -->
            <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">PHENOTYPIC RESULTS</h6>
            <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">

            <div class="pl-lg-12">
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='ampC'>ampC</label> {{form.ampC | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='ESBL'>ESBL</label> {{form.ESBL | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='CARB'>CARB</label> {{form.CARB | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='MBL'>MBL</label> {{form.MBL | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='BL'>BL</label> {{form.BL | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='MR'>MR</label> {{form.MR | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='mecA'>mecA</label> {{form.mecA | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <label class='form-control-label' for='ICR'>ICR</label> {{form.ICR | append_attr:"class: form-control" }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class='form-control-label' for='OtherResMech'>Other</label> {{form.OtherResMech | append_attr:"class: form-control" }}
                  </div>
                </div>

              </div>
        
            <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ORGANISM RESULTS</h6>
            <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">

                        <div class="pl-lg-12">
  
                          <div class="row">
                             <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='Site_Pre'>Site Pre</label> {{form.Site_Pre| append_attr:"class: form-control" }}
                              </div>
                            </div>
                               <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='OrganismCode'>Organism Code</label> {{form.OrganismCode| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='Site_Org'>Organism Name</label> {{form.Site_Org| append_attr:"class: form-control" }}
                              </div>
                            </div>
                         
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='Site_Pos'>Site Post</label> {{form.Site_Pos| append_attr:"class: form-control" }}
                              </div>
                            </div>
                          </div>
                          </div>
           

      
        <!--MEDICAL HISTORY-->
        <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ANTIMICROBIAL SUSCEPTIBILITY TEST RESULTS</h6>
        <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
            <div class="pl-lg-12">
                <div class="row"> 

<div id="antibiotic-container">
  <div class="col-lg-12">
    <div class="row">

      <!-- 🧫 DISK DIFFUSION -->
      <div class="col-lg-5">
        <h6 class="heading-small text-muted mb-4">DISK DIFFUSION</h6>
        <div class="card border-info mb-3">
          <div class="card-body text-info">
            <div class="table-responsive" style="max-height: 500px; overflow-y: auto; overflow-x: auto;">
              <table class="table align-items-center text-center table-sm table-responsive" style="width: 100%;">
                <thead class="thead-light">
                  <tr style="line-height: 15px;">
                    <th>ANTIBIOTIC</th>
                    <th>WHONET CODE</th>
                    <th>TEST RESULT</th>
                    <th>RIS</th>
                  </tr>
                </thead>
                <tbody>
                  {% if antibiotics_main %}
                    {% for entry in antibiotics_main|dictsort:"Whonet_Abx" %}
                      {% if entry.Disk_Abx %}
                        <tr>
                          <td>{{ entry.Antibiotic }}</td>
                          <td>{{ entry.Whonet_Abx }}</td>
                          <td>
                            <input name="disk_{{ entry.Whonet_Abx }}" 
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'disk' %}" 
                                   type="number" min="0" style="width: 70px;">
                          </td>
                          <td>
                            <input name="disk_enris_{{ entry.Whonet_Abx }}" 
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'disk_enris' %}" 
                                   type="text" style="width: 50px;">
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <tr><td colspan="5">No antibiotics available</td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- 💧 MIC RESULTS -->
      <div class="col-lg-7">
        <h6 class="heading-small text-muted mb-4">MIC RESULTS</h6>
        <div class="card border-info mb-3">
          <div class="card-body text-info">
            <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
              <table class="table align-items-center text-center table-sm table-responsive" style="width: 100%;">
                <thead class="thead-light">
                  <tr style="line-height: 15px;">
                    <th>ANTIBIOTIC</th>
                    <th>WHONET CODE</th>
                    <th>OPERAND</th>
                    <th>TEST RESULT</th>
                    <th>RIS</th>
                    <th>ALERT MIC</th>
                  </tr>
                </thead>
                <tbody>
                  {% if antibiotics_main %}
                    {% for entry in antibiotics_main|dictsort:"Whonet_Abx" %}
                      {% if not entry.Disk_Abx %}
                        <tr>
                          <td>{{ entry.Antibiotic }}</td>
                          <td>{{ entry.Whonet_Abx }}</td>
                          <td>
                            <input type="text" name="mic_operand_{{ entry.Whonet_Abx }}"
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'mic_operand' %}"
                                   style="width: 50px;">
                          </td>
                          <td>
                            <input name="mic_{{ entry.Whonet_Abx }}" 
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'mic' %}" 
                                   type="number" min="0" step="0.001" style="width: 70px;">
                          </td>
                          <td>
                            <input name="mic_enris_{{ entry.Whonet_Abx }}"
                                   value="{% get_existing_value existing_entries entry.Whonet_Abx 'mic_enris' %}" 
                                   type="text" style="width: 50px;">
                          </td>
                          <td>
                            {% get_existing_value existing_entries entry.Whonet_Abx 'alert_mic' as alert_mic_checked %}
                            <input type="checkbox" 
                                   name="alert_mic_{{ entry.Whonet_Abx }}" 
                                   style="transform: scale(1.5); margin: 4px;"
                                   {% if alert_mic_checked %}checked{% endif %}>
                          </td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <tr><td colspan="7">No antibiotics available</td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





          </div> 
                <!-- end of table for antibiotics -->

                <div class="row">
                  <div class="col-lg-12">
                              <div class="form-group">
                                <label class='form-control-label' for='Comments'>Commments</label> {{form.Comments| append_attr:"class: form-control" }}
                              </div>
                        </div>
                </div>
              </div>
            </div>
          </div> 
                <!-- end of first tab -->
   
                <!--LABORATORY RESULTS-->
                <div class="tab-pane fade" id="tabcontent2" role="tabpanel" aria-labelledby="tab2" >
                  <br>
                  <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ORGANISM INFORMATION</h6>
                  <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
                  <div class="pl-lg-12">
                          <div class="row">
                            
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ampC'>ampC</label> {{form.ars_ampC| append_attr:"class: form-control" }}
                              </div>
                            </div>
                           <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ESBL'>ESBL</label> {{form.ars_ESBL| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_CARB'>CARB</label> {{form.ars_CARB| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ECIM'>ECIM</label> {{form.ars_ECIM| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_MCIM'>MCIM</label> {{form.ars_MCIM| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_EC_MCIM'>EC MCIM</label> {{form.ars_EC_MCIM| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_MBL'>MBL</label> {{form.ars_MBL| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_BL'>BL</label> {{form.ars_BL| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_MR'>MR</label> {{form.ars_MR| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_mecA'>mecA</label> {{form.ars_mecA| append_attr:"class: form-control" }}
                              </div>
                            </div>
                             <div class="col-lg-1">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_ICR'>ICR</label> {{form.ars_ICR| append_attr:"class: form-control" }}
                              </div>
                            </div>
                          </div>

                          <div class="row">
                             <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_Pre'>ARSRL Pre</label> {{form.ars_Pre| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_OrgCode'>Organism Code</label> {{form.ars_OrgCode| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_OrgName'>Organism Name</label> {{form.ars_OrgName| append_attr:"class: form-control" }}
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <div class="form-group">
                                <label class='form-control-label' for='ars_Post'>ARSRL Post</label> {{form.ars_Post| append_attr:"class: form-control" }}
                              </div>
                            </div>
                          </div>
               <div class="pl-lg-12">
              <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ANTIMICROBIAL SUSCEPTIBILITY TEST RESULTS</h6>
              <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
              </div>

<div id="retest-container">
<div class="col-lg-12">
  <div class="row">

    <!-- 🧫 RETEST DISK DIFFUSION -->
    <div class="col-lg-5">
      <h6 class="heading-small text-muted mb-4">RETEST - DISK DIFFUSION</h6>
      <div class="card border-info mb-3">
        <div class="card-body text-info">
          <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table align-items-center text-center table-sm table-responsive" style="width: 100%;">
              <thead class="thead-light">
                <tr style="line-height: 15px;">
                  <th scope="col">ANTIBIOTIC</th>
                  <th scope="col">WHONET CODE</th>
                  <th scope="col">TEST RESULT</th>
                  <th scope="col">RIS</th>
                </tr>
              </thead>
              <tbody>
                {% if antibiotics_retest%}
                  {% for retest in antibiotics_retest|dictsort:"Whonet_Abx" %}
                    {% if retest.Disk_Abx %}
                      <tr>
                        <td>{{ retest.Antibiotic }}</td>
                        <td>{{ retest.Whonet_Abx }}</td>
                        <td>
                          <input name="retest_disk_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_disk' %}"
                                 type="number" min="0" style="width: 70px;">
                        </td>
                        <td>
                          <input name="retest_disk_enris_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_disk_enris' %}"
                                 type="text" style="width: 50px;">
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <tr><td colspan="5">No retest disk antibiotics available</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- 💧 RETEST MIC RESULTS -->
    <div class="col-lg-7">
      <h6 class="heading-small text-muted mb-4">RETEST - MIC RESULTS</h6>
      <div class="card border-info mb-3">
        <div class="card-body text-info">
          <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table align-items-center text-center table-sm table-responsive" style="width: 100%;">
              <thead class="thead-light">
                <tr style="line-height: 15px;">
                  <th scope="col">ANTIBIOTIC</th>
                  <th scope="col">WHONET CODE</th>
                  <th scope="col">OPERAND</th>
                  <th scope="col">TEST RESULT</th>
                  <th scope="col">RIS</th>
                  <th scope="col" style="width: 98px;">ALERT MIC</th>
                </tr>
              </thead>
              <tbody>
                {% if antibiotics_retest %}
                  {% for retest in antibiotics_retest|dictsort:"Whonet_Abx" %}
                    {% if not retest.Disk_Abx %}
                      <tr>
                        <td>{{ retest.Antibiotic }}</td>
                        <td>{{ retest.Whonet_Abx }}</td>
                        <td>
                          <input name="retest_mic_operand_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_mic_operand' %}"
                                 type="text" style="width: 50px;">
                        </td>
                        <td>
                          <input name="retest_mic_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_mic' %}"
                                 type="number" min="0" step="0.001" style="width: 70px;">
                        </td>
                        <td>
                          <input name="retest_mic_enris_{{ retest.Whonet_Abx }}" 
                                 value="{% get_existing_value retest_entries retest.Whonet_Abx 'retest_mic_enris' %}"
                                 type="text" style="width: 50px;">
                        </td>
                        <td>
                          {% get_existing_value retest_entries retest.Whonet_Abx 'retest_alert_mic' as retest_alert_mic_checked %}
                          <input type="checkbox" 
                                 name="retest_alert_mic_{{ retest.Whonet_Abx }}"
                                 style="transform: scale(1.5); margin: 4px;"
                                 {% if retest_alert_mic_checked %}checked{% endif %}>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <tr><td colspan="7">No retest MIC antibiotics available</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
            <div class="pl-lg-12">
              <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">ARSRL PERSONNEL PROVIDING INFORMATION</h6>
              <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
              </div>
            <div class="row">
            
              <div class="col-lg-12">

                <div class="card border-info mb-3">
                  <div class="card-body  text-info">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">                    
                            <label class='form-control-label' for='arsp_Encoder'>Encoded by</label>
                            <div class="d-flex align-items-center">
                              {{ form.arsp_Encoder| append_attr:"class: form-control "}} 
                              <span><a href="{% url 'add_contact' %}" class="col-4 shortcut-item" style="padding: 0;">
                              <span class="ni ni-settings" style="margin-left: 10px; line-height: 0; vertical-align: text-bottom;"></span>
                              </a></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                              <label class='form-control-label' for='arsp_Enc_Lic'>License Number</label> {{ form.arsp_Enc_Lic| append_attr:"class: form-control "}} 
                          </div>
                     </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                              <label class='form-control-label' for='arsp_License'>Contact Number</label> {{ form.arsp_License| append_attr:"class: form-control "}} 
                          </div>
                         
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                              <label class='form-control-label' for='Date_Accomplished_ARSP'>Date_Accomplished</label> {{form.Date_Accomplished_ARSP| append_attr:"class: form-control"}}
                            </div>
                        </div>

                    </div> 
                  </div> 
                     </div> 
                    </div> 
                </div>  
              </div>
              <div class="pl-lg-12">
              <h6 class="heading-small mb-0" style="padding-bottom: 0; margin-bottom: 0;">RECCOMENDATION</h6>
              <hr class="border border-primary border-3 opacity-75 " style="margin-top: 0; padding-top: 0%;">
              </div>
              <div class="row">
              <div class="col-lg-12">
                <div class="card border-info mb-3">
                  <div class="card-body  text-info">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">                    
                              <label class='form-control-label' for='ars_reco'>Recommendation</label> {{form.ars_reco| append_attr:"class: form-control"}}
                          </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
              </div>
              </div> 
               <!--tabcontent 2-->
            </div> <!--card body-->
        
        </form> <!---end of form with post method-->  
      </div> <!--card-->
        <div class="col-12 text-left">
          <div class="col-6">
          <!-- <button class="btn btn-sm btn-primary" onclick="topFunction()" id="myBtn" title="Go to top">Go to Top</button> -->
           <!-- <a href="#mytop" class="btn btn-sm btn-primary">Back to top</a> -->
           <button type="button" onclick="topFunction()" id="myBtn" title="gototop" class="btn btn-sm btn-primary"> Back to top</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% include "includes/footer.html" %}
  </div>
 
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  // Get the button (back to top button)
  let mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 50px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  
</script>


<!-- <script>
  $(document).ready(function () {
    // ✅ Keep: Update lab staff contact info based on dropdown
    $('#id_Laboratory_Staff').change(function () {
      const labStaffId = $(this).val();
      if (labStaffId) {
        $.ajax({
          url: "{% url 'get_ars_staff_details' %}",
          data: { lab_staff_id: labStaffId },
          dataType: 'json',
          success: function (data) {
            $('#id_ars_contact').val(data.Staff_Telnum);
            $('#id_ars_email').val(data.Staff_EmailAdd);
          },
          error: function (xhr, status, error) {
            console.error("Lab staff fetch error:", status, error);
          }
        });
      } else {
        $('#id_ars_contact').val('');
        $('#id_ars_email').val('');
      }
    });

    // Commented out: Auto-generation of accession number in Referred Form
    
    $('#id_SiteCode').change(function () {
      const siteCode = $(this).val();
      const refDate = $('#id_Referral_Date').val();
      const batchNum = $('#id_BatchNo').val();
      const refnum = $('#id_RefNo').val();

      if (siteCode) {
        $.ajax({
          url: "{% url 'get_clinic_code' %}",
          data: { site_code: siteCode },
          dataType: 'json',
          success: function (data) {
            $('#id_Site_Name').val(data.site_name);
            generateAccessionNo(siteCode, refDate, batchNum, refnum);
          },
          error: function (xhr, status, error) {
            console.error("Clinic code fetch error:", status, error);
          }
        });
      } else {
        $('#id_Site_Name').val('');
        $('#id_AccessionNo').val('');
      }
    });

    $('#id_RefNo, #id_Referral_Date, #id_BatchNo').on('input change', function () {
      const refnum = $('#id_RefNo').val();
      const siteCode = $('#id_SiteCode').val();
      const refDate = $('#id_Referral_Date').val();
      const batchNum = $('#id_BatchNo').val();

      generateAccessionNo(siteCode, refDate, batchNum, refnum);
    });

    function generateAccessionNo(siteCode, refDate, batchNum, refnum) {
      if (siteCode && refDate && batchNum && refnum) {
        const parts = refDate.split('-');
        let dateClean = '';
        if (parts.length === 3) {
          dateClean = parts[1] + parts[2] + parts[0]; // MMDDYYYY
        }
        $('#id_Batch_Name').val(siteCode + dateClean + batchNum + refnum);
      } else {
        $('#id_Batch_Name').val('');
      }
    }
    
  });
</script> -->


<!-- <script>
  document.getElementById('id_PermAdd_same_CurrAdd').addEventListener('change', function () {
      const isChecked = this.checked;

      const currentProvince = document.getElementById('id_Current_Province').value;
      const currentCity = document.getElementById('id_Current_City').value;

      const permanentProvinceField = document.getElementById('id_Permanent_Province');
      const permanentCityField = document.getElementById('id_Permanent_City');

      if (isChecked) {
          permanentProvinceField.value = currentProvince;
          permanentCityField.value = currentCity;
      } else {
          permanentProvinceField.value = '';
          permanentCityField.value = '';
      }
  });
</script> -->

<script>
  // Improved: Wait for DOMContentLoaded before attaching event listeners
  document.addEventListener('DOMContentLoaded', function() {
    var birthInput = document.getElementById('id_Date_Birth');
    var consultInput = document.getElementById('id_Spec_Date');
    var ageField = document.getElementById('id_Age');

    function calculateAge() {
      if (!birthInput || !consultInput || !ageField) return;

      const birthVal = birthInput.value;
      const consultVal = consultInput.value;

      if (!birthVal || !consultVal) {
        ageField.value = '';
        return;
      }

      // Parse as YYYY-MM-DD for consistency
      const birthdate = new Date(birthVal.replace(/-/g, '/'));
      const consultDate = new Date(consultVal.replace(/-/g, '/'));

      if (isNaN(birthdate.getTime()) || isNaN(consultDate.getTime())) {
        ageField.value = '';
        return;
      }

      if (consultDate < birthdate) {
        ageField.value = 'Invalid Dates';
        return;
      }

      let age = consultDate.getFullYear() - birthdate.getFullYear();
      const m = consultDate.getMonth() - birthdate.getMonth();
      if (m < 0 || (m === 0 && consultDate.getDate() < birthdate.getDate())) {
        age--;
      }
      ageField.value = age;
    }

    birthInput.addEventListener('change', calculateAge);
    consultInput.addEventListener('change', calculateAge);
  });
</script>

<!-- Auto-fill license numbers -->
<script>
  $(document).ready(function() {
    function bindStaffField(staffSelector, licenseSelector, licenseKey) {
      $(staffSelector).change(function() {
        var staffId = $(this).val();
        if (staffId) {
          $.ajax({
            url: "{% url 'get_ars_staff_details' %}",
            data: { ars_staff_id: staffId, license_field: licenseKey },
            dataType: 'json',
            success: function(data) {
              if (data[licenseKey]) {
                $(licenseSelector).val(data[licenseKey]);
              }
            }
          });
        } else {
          $(licenseSelector).val('');
        }
      });
    }

    bindStaffField('#id_arsp_Encoder',   '#id_arsp_Enc_Lic',  'arsp_Enc_Lic');
    bindStaffField('#id_arsp_Checker',   '#id_arsp_Chec_Lic', 'arsp_Chec_Lic');
    bindStaffField('#id_arsp_Verifier',  '#id_arsp_Ver_Lic',  'arsp_Ver_Lic');
    bindStaffField('#id_arsp_LabManager','#id_arsp_Lab_Lic',  'arsp_Lab_Lic');
    bindStaffField('#id_arsp_Head',      '#id_arsp_Head_Lic', 'arsp_Head_Lic');
  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const siteOrgInput = document.querySelector("[name='Site_Org']");
  const arsOrgInput = document.querySelector("[name='ars_OrgCode']");
  const specimenDateInput = document.querySelector("[name='Specimen_Date']");
  const antibioticContainer = document.getElementById("antibiotic-container");

  function reloadAntibiotics() {
    const site_org = siteOrgInput ? siteOrgInput.value : "";
    const ars_orgcode = arsOrgInput ? arsOrgInput.value : "";
    const specimen_date = specimenDateInput ? specimenDateInput.value : "";

    fetch(`/reload-antibiotics/?site_org=${encodeURIComponent(site_org)}&ars_orgcode=${encodeURIComponent(ars_orgcode)}&specimen_date=${encodeURIComponent(specimen_date)}`)
      .then(response => response.json())
      .then(data => {
        antibioticContainer.innerHTML = data.html;
      })
      .catch(err => console.error("Error loading antibiotics:", err));
  }

  // Event listeners for changes
  [siteOrgInput, arsOrgInput, specimenDateInput].forEach(input => {
    if (input) {
      input.addEventListener("change", reloadAntibiotics);
    }
  });
});
</script>

<script>
  
// Improved: Separate handling for main and retest antibiotics
document.addEventListener("DOMContentLoaded", function() {
  const siteOrgInput = document.querySelector("[name='Site_Org']");
  const arsOrgInput = document.querySelector("[name='ars_OrgCode']");
  const specimenDateInput = document.querySelector("[name='Spec_Date']");
  const antibioticContainer = document.getElementById("antibiotic-container");

  function reloadAntibiotics() {
    const site_org = siteOrgInput?.value || "";
    const ars_orgcode = arsOrgInput?.value || "";
    const specimen_date = specimenDateInput?.value || "";

    fetch(`/reload-antibiotics/?site_org=${encodeURIComponent(site_org)}&ars_orgcode=${encodeURIComponent(ars_orgcode)}&specimen_date=${encodeURIComponent(specimen_date)}`)
      .then(response => response.json())
      .then(data => {
        // Update main antibiotics section
        antibioticContainer.innerHTML = data.main_html;

        // If your retest section is on another tab:
        const retestSection = document.querySelector("#retest-container");
        if (retestSection) {
          retestSection.innerHTML = data.retest_html;
        }
      })
      .catch(err => console.error("Error loading antibiotics:", err));
  }

  // Watch for changes
  [siteOrgInput, arsOrgInput, specimenDateInput].forEach(input => {
    if (input) input.addEventListener("change", reloadAntibiotics);
  });
});
</script>

  

{% endblock javascripts %}
